<br><div class="navbar"><br><br><br>
<ul class="nav navbar-nav navbar-center" >
     <li><a href=""><span class="glyphicon soc glyphicon-globe"> </span>glode </a></li>
     <li><a href=""> <span class="glyphicon soc glyphicon-envelope"> </span></a></li>
     <li><a href=""> <span class="glyphicon soc glyphicon-phone"> </span></a></li>
     <li><a href=""><span class="glyphicon soc glyphicon-map-marker"> </span></a></li> 
     <li><a href=""><span class="glyphicon soc glyphicon-map-marker"> </span></a></li> 
      </ul><br>
     <ul class="nav navbar-nav " >
     <li role="separator" class="divider"></li>
     <li><a href=""><span class="glyphicon soc glyphicon-copyright-mark"> </span> O-Gas Limited Developers</a></li> 
     <li><a href=""><span class="glyphicon soc glyphicon-registration-mark"> </span> Traders.sites.django</a></li> 
        </ul>


  </div>