<div id="home-carousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="item active carousel-item">
				<img src="tools/images/slider/1.png">
				<div class="carousel-caption container">
					<div class="row">
						<div class="col-md-7">
							<h2>Welcome to <abbr title="Naivasha Girls Secondary School" style="text-decoration:none;">NGS </h2><br>
							<h4>A learning institution where we are proud of our job.<br>
								Join us </h4>
								<button class="btn btn-outline-light btn-md" style="align:center;">Admission</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class="item carousel-item" style="background-image: url(tools/images/slider/02.jpg),width:1600px;height:600px;">
				<div class="carousel-caption container">
					<div class="row">
						<div class="col-md-7">
							<h2> </h2>
							<h4>Upto 93% of our studnets join University every year.<br>
								Checkout more on our Performance</h4>
							<button class="btn btn-outline-light btn-md">Read More..</button>
						</div>
					</div>
				</div>
			</div>
			<div class="item carousel-item" style="background-image: url(tools/images/slider/03.jpg),width:1600px;height:600px;">
				<div class="carousel-caption container">
					<div class="row">
						<div class="col-md-7">
							<h2>Partnerships </h2>
							<h4>With partner like Zalego Institute of techology We Nature our students for greatness.<br>
							</h4>
							<button class="btn btn-outline-light btn-md">Read More..</button>							
						</div>
					</div>
				</div>
			</div>
			<div class="item carousel-item" style="background-image: url(tools/images/slider/04.jpg),width:1600px;height:600px;">
				<div class="carousel-caption container">
					<div class="row">
						<div class="col-md-7">
							<h2>Talk to Us </h2>
							<h4>We care about your feedbacks </h4>
							<button class="btn btn-outline-light btn-md">Contact Us..</button>
						</div>
					</div>
				</div>
			</div>
			<div class="item carousel-item" style="background-image: url(tools/images/slider/05.jpg),width:1600px;height:600px;">
				<div class="carousel-caption container">
					<div class="row">
						<div class="col-md-7">
							<h2>The Management <abbr title="Naivasha Girls Secondary School" style="text-decoration:none;">NGS </h2><br>
							<h4>We value our Students thats why we have able management team.<br>
								Get to Know Us </h4>
								<button class="btn btn-outline-light btn-md" style="align:center;">Read more..</button>
						</div>
					</div>
				</div>
			</div>
			<a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
			<a
				class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i>
			</a>
		</div>
	</div>
	<!--/#home-carousel-->