
<body>
    

    

    <div>
      <strong>Menu:</strong>
      <ul>
	
	<li><a href="/account/login/">Sign In</a></li>
	<li><a href="/account/signup/">Sign Up</a></li>
	
      </ul>
    </div>
    


<p>Already have an account? Then please <a href="/account/login/">sign in</a>.</p>

<form class="signup" id="signup_form" method="post" action="/account/signup/">
  <input name="csrfmiddlewaretoken" value="sbyo0QYlG7dx3d9JiVuK0wtm2vwFFTqrctHhw4AHOvqph6WBTyWUXaYWOCj6iZXK" type="hidden">
  

<div id="div_id_username" class="form-group"> <label for="id_username" class="control-label  requiredField">
                Username<span class="asteriskField">*</span> </label> <div class="controls "> <input name="username" maxlength="150" minlength="5" autofocus="autofocus" required="" placeholder="Username" class="textinput textInput form-control" id="id_username" type="text"> </div> </div> <div id="div_id_email" class="form-group"> <label for="id_email" class="control-label ">
                E-mail (optional)
            </label> <div class="controls "> <input name="email" placeholder="E-mail address" class="textinput textInput form-control" id="id_email" type="email"> </div> </div> <div id="div_id_password1" class="form-group"> <label for="id_password1" class="control-label  requiredField">
                Password<span class="asteriskField">*</span> </label> <div class="controls "> <input name="password1" required="" placeholder="Password" class="textinput textInput form-control" id="id_password1" type="password"> </div> </div> <div id="div_id_password2" class="form-group"> <label for="id_password2" class="control-label  requiredField">
                Password (again)<span class="asteriskField">*</span> </label> <div class="controls "> <input name="password2" required="" placeholder="Password (again)" class="textinput textInput form-control" id="id_password2" type="password"> </div> </div>

  
  <button classs="btn btn-success" type="submit">Sign Up »</button>
</form>


    
    
    
  

</body>