<!DOCTYPE html>
{%  extends 'base.html' %}
{%  load staticfiles %}
 
  {% block content%} 
  <style type="text/css">
 body{
   	text-indent: 20px;
   }
   p{
   	padding: 5px 0px 10px 20px;
   }
  </style>
  <body>
<p>
You must provide and maintain, at your cost, a suitable space for the secure housing of the equipment.<br>

Equipment should not be installed:<br>

    in an inaccessible location,<br>
    under a stairway,<br>
    in a location where there would be no air movement across the equipment,<br>
    under a building (unless permitted by the LPG Association Code of Practice No 2),<br>
    in a position that would obstruct exits from a building,<br>
    buried in the ground, or
    where damage is likely to occur, unless adequate protection is provided.<br>

  

  <p>You must ensure that the premises at which the equipment is to be used shall at all times comply with any relevant laws and regulations and must remain safe to use. We may delay or suspend delivery at any time if access to your premises is considered by us to be unsafe, if the delivery conditions are considered by us to represent a hazard to our delivery drivers or the Distribution Company's delivery drivers, or if the connection is not considered to be compliant or safe.</p><br>
<p>
You will ensure that your current LPG installation has been certified by a registered gas fitter in accordance with regulations under the <br><B>Gas Act 1992.</B> You must not store more than 100 kgs of LPG on the premises unless agreed to in writing by us in advance (in our sole discretion) and you have a current site location certificate in accordance with the Hazardous Substances and New Organisms Act 1996 and associated regulations. The LPG Association may be able to assist you in ensuring compliance with this requirement.</p><br>

<p>All equipment must be used in a safe and prudent manner. <br>You must not tamper or interfere with any equipment except to the extent that action has to be taken to protect the health and safety of persons or to prevent damage to property.<br> Please report any escape or smell of LPG from the equipment or any interference with the equipment to us immediately. </p><br>
<p>
The risk of any loss, damage or deterioration of the LPG bottles or of the LPG in those bottles shall pass to you upon delivery.
</p>
</body>

{% endblock %}