<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Naivasha Girls - Academics</title>
	<!-- Main CSS file -->
	<link rel="stylesheet" href="tools/css/bootstrap.css">
	<link rel="stylesheet" href="tools/css/magnific-popup.css">
	<link rel="stylesheet" href="tools/css/font-awesome.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="tools/css/responsive.css">
	<!-- Favicon -->
	<link rel="shortcut icon" href="tools/images/icon/logo1.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144"
	      href="tools/images/icon/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114"
	      href="tools/images/icon/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72"
	      href="tools/images/icon/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="tools/images/icon/apple-touch-icon-57-precomposed.png">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
<!-- PRELOADER -->
<div id="st-preloader">
	<div id="pre-status">
		<div class="preload-placeholder"></div>
	</div>
</div>
<!-- /PRELOADER -->
<!-- HEADER -->
<header id="header">
	<nav class="navbar st-navbar fixed-top navbar-expand-md">
			<div class="navbar-brand"><a href="index.html"><img src="tools/images/logo.jpg" width="300" height="61.7"alt="NGHS"></a></div>
			<button type="button" class="navbar-toggler  navbar-toggler-right " style ="background-color:#C8293D;padding-left:25px; "data-toggle="collapse"
			        data-target="#st-navbar-collapse"><span class="sr-only">Toggle navigation</span>
				&#x2630 MENU
			</button>

			<div class="collapse navbar-collapse justify-content-end"
			     id="st-navbar-collapse">
				<ul class="nav navbar-nav ml-auto" id="home">
					<li class="nav-item active"><a href="index.html" class="nav-link smooth-scroll">Home</a>
					</li>
					<li class="nav-item"><a href="academics.html" class="nav-link smooth-scroll">Academics</a>
					</li>
					<li class="nav-item"><a href="about.html" class="nav-link smooth-scroll">About us</a>
					</li>
					<li class="nav-item"><a href="department.html" class="nav-link smooth-scroll">Departments</a>
					</li>
					<li class="nav-item"><a href="admission.html" class="nav-link smooth-scroll">Admission</a>
					</li>
					<li class="nav-item"><a href="blog.html" class="nav-link smooth-scroll">Talent Corner</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
</header>
<!-- /HEADER -->

<!-- OUR WORKS -->
<section id="our-works" class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h3>CURRICULUM (ACADEMICS)</h3>
					<p>Naivasha Girls follows the 8-4-4 system of education with the curriculum provided by the KenyaInstitute of  Curriculum Development under the Ministry of  Education.<br>
                    The subjects offered in the school are as follows:</p>
                    <img src="tools/images/Academic.jpg" width="75%" height="30%">
				</div>
			</div>
			<div class="col-lg-12">
				<div class="portfolio-wrapper "Styel="display:inline-block;">

					<ul class="filter " >
						<li><a class="active" href="#" data-filter=".kcse">KCSE</a>
						</li>
						<li><a href="#" data-filter=".mocks">MOCKS</a>
						</li>

					</ul>
					<!--/#portfolio-filter-->
					<div class="portfolio-items row">
						<div class="col-lg-4 col-md-6 work-grid wordpress graphic ">
							<div class="portfolio-content">
								<img class="img-fluid" src="tools/images/works/portfolio-1.jpg" alt="">
								<div class="portfolio-overlay"><a href="tools/images/works/portfolio-1.jpg"><i
									class="fa fa-female"></i></a>
									<h5>Top Girl 2017</h5>
									<p>Rukia Mmoja</p>								
								</div>
							</div>
						</div>
					</div>					<div class="portfolio-items row">
						<div class="col-lg-4 col-md-6 work-grid wordpress graphic ">
							<div class="portfolio-content">
								<img class="img-fluid" src="tools/images/works/portfolio-1.jpg" alt="">
								<div class="portfolio-overlay"><a href="tools/images/works/portfolio-1.jpg"><i
									class="fa fa-female"></i></a>
									<h5>Top Girl 2017</h5>
									<p>Rukia Mmoja</p>								
								</div>
							</div>
						</div>
					</div>

</section>
<!-- /OUR WORKS -->

<!-- FOOTER -->
<footer id="footer">
	<div class="container">
		<div class="row">
			<!-- SOCIAL ICONS -->
			<div class="col-md-6 order-sm-2 footer-social-icons"><span>Follow us:</span>
				<a href=""><i class="fa fa-facebook"></i></a>
				<a
					href=""><i class="fa fa-twitter"></i>
				</a> <a href=""><i class="fa fa-google-plus"></i></a>
				<a href=""><i class="fa fa-pinterest-p"></i></a>
			</div>
			<!-- /SOCIAL ICONS -->
			<div class="col-md-6 order-sm-1 copyright">
				<p>&#xA9; 2018 <a href="#">Designed by Joash & Hassan</a>. All Rights Reserved. | powered by Zalego</p>
			</div>
		</div>
	</div>
</footer>
<!-- /FOOTER -->
<!-- Scroll-up -->
<div class="scroll-up">
	<ul>
		<li><a class="smooth-scroll" href="#header"><i class="fa fa-angle-up"></i></a>
		</li>
	</ul>
</div>
<!-- JS -->
<script src="tools/js/jquery.min.js"></script><!-- jQuery -->
<script src="tools/js/popper.min.js"></script><!-- popper -->
<script src="tools/js/bootstrap.min.js"></script><!-- Bootstrap -->
<script src="tools/js/jquery.parallax.js"></script><!-- Parallax -->
<script src="tools/js/jquery.easing.min.js"></script><!-- Easing animation -->
<script src="tools/js/jquery.fitvids.js"></script><!-- fitvids -->
<script src="tools/js/jquery.counterup.min.js"></script><!-- CounterUp -->
<script src="tools/js/waypoints.min.js"></script><!-- waypoints -->
<script src="tools/js/jquery.isotope.min.js"></script><!-- isotope -->
<script src="tools/js/jquery.magnific-popup.min.js"></script><!-- magnific-popup -->
<script src="tools/js/scripts.js"></script><!-- Scripts -->
</body>
</html>