<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<title>Tutorial</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script type="text/javascript" scr="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" scr="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script type="text/javascript" scr="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" scr="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="styles">
</head>
<body>
	<!--Navigation-->
	<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><img src=""></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarrResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
	<!--image slider-->
	<!--jumbotron-->
	<!--welcome sec-->
	<!--three column-->
	<!--two col-->
	<!--fixed background-->
	<!--emojis-->
	<!--meet the team-->
	<!--cards-->
	<!--two col-->
	<!--connect-->
	<!--footer-->
</body>
</html>
<div class="col-2">
  <div class="tabbable tabs">
    <ul class="nav nav-tabs" id="depts">
      <li class="active"><a href="#Sciences" data-toggle="tab"> Sciences </a></li>
      <li class=""><a href="#Humanities" data-toggle="tab"> Humanities</a></li>
      <li class=""><a href="#Technicals" data-toggle="tab"> Technicals</a></li>
      <li class=""><a href="#Languages" data-toggle="tab"> Languages</a></li>
      <li class=""><a href="#Careers" data-toggle="tab"> Careers</a></li>
      <li class=""><a href="#Guidance" data-toggle="tab"> Guidance $ Counseling</a></li>
      <li class=""><a href="#Sports" data-toggle="tab"> Sports $ Games</a></li>
      <li class=""><a href="#Clubs" data-toggle="tab"> Clubs $ Societies</a></li>
    </ul>
  </div>
  </div>
  <div class="tab-content">
  <div class="col-7">
    <div class="tab-pane active " id="Sciences">
        <h1 class="">The Science Department</h1>
        <div class="">
        	<img src="" class="responsive" id="hodsci">
        	<label id="hod">Head of Department Science</label>
        	<label id="hodname">Mr.Joe Michaels</label>
        	<p id="hodstate"> Welcome to the home of life where we get to teach students about their living and the
        	 surrounding. <br>We are proud of the tromendous support we have from our students who are eager to learn and are discpined. <br> A great scientist once said its science that breaths life into life.</p>
        	 <br><br>
        	 <img src="" class="responsive">
        	 <label id="hos">Head of Subject Mathematics</label>
        	 <label id="hosname">Mr Robert Wanyama</label>
        	 <p id="hosstate"> Mathematics the subject of numbers and signs.<br>
        	 	With the group of 12 able mathematisians we have been able to send put students into the love of math unlike most cases. <br> I believe with good comportous and a keen interest, anyone anytime can pick up a calculate an aces math problems</p>
        	 <br><br>
        	 <img src="" class="responsive">
        	 <label id="hos">Head of Subject Biology</label>
        	 <label id="hosname">Mr Robert Wanyama</label>
        	 <p id="hosstate"> Mathematics the subject of numbers and signs.<br>
        	 	With the group of 12 able mathematisians we have been able to send put students into the love of math unlike most cases. <br> I believe with good comportous and a keen interest, anyone anytime can pick up a calculate an aces math problems</p>
        	 <br><br>
        	 <img src="" class="responsive">
        	 <label id="hos">Head of Subject Chemistry</label>
        	 <label id="hosname">Mr Robert Wanyama</label>
        	 <p id="hosstate"> Mathematics the subject of numbers and signs.<br>
        	 	With the group of 12 able mathematisians we have been able to send put students into the love of math unlike most cases. <br> I believe with good comportous and a keen interest, anyone anytime can pick up a calculate an aces math problems</p>
        	 <br><br>
        	 <img src="" class="responsive">
        	 <label id="hos">Head of Subject Physics</label>
        	 <label id="hosname">Mr Robert Wanyama</label>
        	 <p id="hosstate"> Mathematics the subject of numbers and signs.<br>
        	 	With the group of 12 able mathematisians we have been able to send put students into the love of math unlike most cases. <br> I believe with good comportous and a keen interest, anyone anytime can pick up a calculate an aces math problems</p>
        	 <br><br>
        	 <img src="" class="responsive">
        	 <label id="hos">Head of Subject Agriculture</label>
        	 <label id="hosname">Mr Robert Wanyama</label>
        	 <p id="hosstate"> Mathematics the subject of numbers and signs.<br>
        	 	With the group of 12 able mathematisians we have been able to send put students into the love of math unlike most cases. <br> I believe with good comportous and a keen interest, anyone anytime can pick up a calculate an aces math problems</p>
        	 <br><br>
        	 <img src="" class="responsive">
        	 <label id="hos">Head of Subject Home-Science</label>
        	 <label id="hosname">Mr Robert Wanyama</label>
        	 <p id="hosstate"> Mathematics the subject of numbers and signs.<br>
        	 	With the group of 12 able mathematicians we have been able to send put students into the love of math unlike most cases. <br> I believe with good comportous and a keen interest, anyone anytime can pick up a calculate an aces math problems</p>
        </div>
        

        </div>
    

    <div class="tab-pane" id="Humanities">
      <p class="col-12">Welcome to the Humanities</p>
        <div class="col-">
        	<img src="" class="responsive" id="hodsci">
        	<label id="hod">Head of Department Humanities</label>
        	<label id="hodname">Mr.Joe Michaels</label>
        	<p id="hodstate"> Welcome to the home of life where we get to teach students about their living and the
        	 surrounding. <br>We are proud of the tromendous support we have from our students who are eager to learn and are discpined. <br> A great scientist once said its science that breaths life into life.</p>
        	 <br><br>
        	 <img src="" class="responsive">
        	 <label id="hos">Head of Subject History And Goverment</label>
        	 <label id="hosname">Mr Robert Wanyama</label>
        	 <p id="hosstate"> Mathematics the subject of numbers and signs.<br>
        	 	With the group of 12 able mathematicians we have been able to send put students into the love of math unlike most cases. <br> I believe with good comportous and a keen interest, anyone anytime can pick up a calculate an aces math problems</p>
        	 <br><br>
        	 <img src="" class="responsive">
        	 <label id="hos">Head of Subject Geography</label>
        	 <label id="hosname">Mr Robert Wanyama</label>
        	 <p id="hosstate"> Mathematics the subject of numbers and signs.<br>
        	 	With the group of 12 able mathematicians we have been able to send put students into the love of math unlike most cases. <br> I believe with good comportous and a keen interest, anyone anytime can pick up a calculate an aces math problems</p>
        	 <br><br>
        	 <img src="" class="responsive">
        	 <label id="hos">Head of Subject Christian Religion Eduacation</label>
        	 <label id="hosname">Mr Robert Wanyama</label>
        	 <p id="hosstate"> Mathematics the subject of numbers and signs.<br>
        	 	With the group of 12 able mathematicians we have been able to send put students into the love of math unlike most cases. <br> I believe with good comportous and a keen interest, anyone anytime can pick up a calculate an aces math problems</p>
    </div>
   </div>
  
 
      <div class="tab-pane" id="Languages">
      <p class="col-12">Welcome to the Languages</p>
        <div class="col-">
        	<img src="" class="responsive" id="hodsci">
        	<label id="hod">Head of Department Language</label>
        	<label id="hodname">Mr.Joe Michaels</label>
        	<p id="hodstate"> Welcome to the home of life where we get to teach students about their living and the
        	 surrounding. <br>We are proud of the tromendous support we have from our students who are eager to learn and are discpined. <br> A great scientist once said its science that breaths life into life.</p>
        	 <br><br>
        	 <img src="" class="responsive">
        	 <label id="hos">Head of Subject English</label>
        	 <label id="hosname">Mr Robert Wanyama</label>
        	 <p id="hosstate"> Mathematics the subject of numbers and signs.<br>
        	 	With the group of 12 able mathematicians we have been able to send put students into the love of math unlike most cases. <br> I believe with good comportous and a keen interest, anyone anytime can pick up a calculate an aces math problems</p>
        	 <br><br>
        	 <img src="" class="responsive">
        	 <label id="hos">Mwalimu mkuu wa somo la kiswahili</label>
        	 <label id="hosname">Mr Robert Wanyama</label>
        	 <p id="hosstate"> Mathematics the subject of numbers and signs.<br>
        	 	With the group of 12 able mathematicians we have been able to send put students into the love of math unlike most cases. <br> I believe with good comportous and a keen interest, anyone anytime can pick up a calculate an aces math problems</p>
        	 <br><br>
        	 <img src="" class="responsive">
        	 <label id="hos">Head of Subject German</label>
        	 <label id="hosname">Mr Robert Wanyama</label>
        	 <p id="hosstate"> Mathematics the subject of numbers and signs.<br>
        	 	With the group of 12 able mathematicians we have been able to send put students into the love of math unlike most cases. <br> I believe with good comportous and a keen interest, anyone anytime can pick up a calculate an aces math problems</p>
        	 <br><br>
        	 <img src="" class="responsive">
        	 <label id="hos">Head of Subject French</label>
        	 <label id="hosname">Mr Robert Wanyama</label>
        	 <p id="hosstate"> Mathematics the subject of numbers and signs.<br>
        	 	With the group of 12 able mathematicians we have been able to send put students into the love of math unlike most cases. <br> I believe with good comportous and a keen interest, anyone anytime can pick up a calculate an aces math problems</p>
    </div>
   </div>
          <div class="tab-pane" id="Technicals">
      <p class="col-12">Welcome to the Technicals</p>
      <div class="col-">
        	<img src="" class="responsive" id="hodsci">
        	<label id="hod">Head of Department Technical Subjects</label>
        	<label id="hodname">Mr.Joe Michaels</label>
        	<p id="hodstate"> Welcome to the home of life where we get to teach students about their living and the
        	 surrounding. <br>We are proud of the tromendous support we have from our students who are eager to learn and are discpined. <br> A great scientist once said its science that breaths life into life.</p>
        	 <br><br>
        	 <img src="" class="responsive">
        	 <label id="hos">Head of Subject Computer Studies</label>
        	 <label id="hosname">Mr Robert Wanyama</label>
        	 <p id="hosstate"> Mathematics the subject of numbers and signs.<br>
        	 	With the group of 12 able mathematicians we have been able to send put students into the love of math unlike most cases. <br> I believe with good comportous and a keen interest, anyone anytime can pick up a calculate an aces math problems</p>
        	 <br><br>
        	 <img src="" class="responsive">
        	 <label id="hos">Head of Subject Business Studies</label>
        	 <label id="hosname">Mr Robert Wanyama</label>
        	 <p id="hosstate"> Mathematics the subject of numbers and signs.<br>
        	 	With the group of 12 able mathematicians we have been able to send put students into the love of math unlike most cases. <br> I believe with good comportous and a keen interest, anyone anytime can pick up a calculate an aces math problems</p>
        	 <br><br>
        	 <img src="" class="responsive">
        	 <label id="hos">Head of Subject Christian Music</label>
        	 <label id="hosname">Mr Robert Wanyama</label>
        	 <p id="hosstate"> Mathematics the subject of numbers and signs.<br>
        	 	With the group of 12 able mathematicians we have been able to send put students into the love of math unlike most cases. <br> I believe with good comportous and a keen interest, anyone anytime can pick up a calculate an aces math problems</p>
    </div>
   </div>
  
      <div class="tab-pane" id="Careers">
      <p class="col-12">Welcome to the Careers dept</p>
        <div class="col-">
        	<img src="" class="responsive" id="hodsci">
        	<label id="hod">Head of Department Careers</label>
        	<label id="hodname">Mr.Joe Michaels</label>
        	<p id="hodstate"> Welcome to the home of life where we get to teach students about their living and the
        	 surrounding. <br>We are proud of the tromendous support we have from our students who are eager to learn and are discpined. <br> A great scientist once said its science that breaths life into life.</p>
        	 <br><br>
    </div>
   </div>
  
      <div class="tab-pane" id="Guidance">
      <p class="col-12">Welcome to the Guidances and counseling</p>
        <div class="col-">
        	<img src="" class="responsive" id="hodsci">
        	<label id="hod">Head of Department Guidance and counseling</label>
        	<label id="hodname">Mr.Joe Michaels</label>
        	<p id="hodstate"> Welcome to the home of life where we get to teach students about their living and the
        	 surrounding. <br>We are proud of the tromendous support we have from our students who are eager to learn and are discpined. <br> A great scientist once said its science that breaths life into life.</p>
        	 <br><br>
    </div>
  </div>
  
        <div class="tab-pane" id="Sports">
      <p class="col-12">Welcome to the Sports and fittness</p>
        <div class="col-">
        	<img src="" class="responsive" id="hodsci">
        	<label id="hod">Head of Department Sports and Fitness</label>
        	<label id="hodname">Mr.Joe Michaels</label>
        	<p id="hodstate"> Welcome to the home of life where we get to teach students about their living and the
        	 surrounding. <br>We are proud of the tromendous support we have from our students who are eager to learn and are discpined. <br> A great scientist once said its science that breaths life into life.</p>
        	 <br><br>
    </div>
  </div>
  
        <div class="tab-pane" id="Clubs">
      <p class="col-12">Welcome to the Clubs and societies</p>
        <div class="col-">
        	<img src="" class="responsive" id="hodsci">
        	<label id="hod">Head of Department Clubs and societies</label>
        	<label id="hodname">Mr.Joe Michaels</label>
        	<p id="hodstate"> Welcome to the home of life where we get to teach students about their living and the
        	 surrounding. <br>We are proud of the tromendous support we have from our students who are eager to learn and are discpined. <br> A great scientist once said its science that breaths life into life.</p>
        	 <br><br>
      </div>
    </div>
  </div>
</div>


</section>