<div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav navbar-right search hidden-sm">
            <li> <a href="#search"><img src="748airservicesltd.com_files/search.png" alt="" height="30"> </a></li>
          </ul>
        
          <ul class="nav navbar-nav navbar-right topNavLinks nav-list hidden-sm">
            <li class="staffLogin"><a href="#staffLoginPanel">Staff Login</a></li>
            <li class="dropdown hidden-sm hidden-md"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Links <span class="caret"></span></a>
              <ul class="dropdown-menu nav nav-list">
                <li class="dropdown affiliations"> <a class="dropdown-toggle affilPop" data-toggle="dropdown" href="#">Affiliations <span class="caret"></span></a>
                  <ul class="dropdown-menu nav nav-list">
                    <li><a href="#">Page 1-1</a></li>
                    <li><a href="#">Page 1-2</a></li>
                    <li><a href="#">Page 1-3</a></li>
                  </ul>
                </li>
                <li><a href="https://www.safety-portal.fr/748/release/" target="_blank">SMS</a></li>
                <li><a href="http://www.mamaibado.org/" target="_blank">CSR</a></li>

              </ul>
            </li>
          </ul>
          <ul id="menu-menu-1" class="nav navbar-nav navbar-right"><li id="menu-item-9" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active menu-item-9"><a href="http://748airservicesltd.com/">Home</a></li>
<li id="menu-item-74" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-74"><a href="http://748airservicesltd.com/?page_id=34">About</a></li>
<li id="menu-item-325" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-325"><a href="http://748airservicesltd.com/?page_id=17">Services</a></li>
<li id="menu-item-322" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-322"><a href="http://748airservicesltd.com/?page_id=63">Departments</a></li>
<li id="menu-item-324" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-324"><a href="http://748airservicesltd.com/?page_id=37">Fleet</a></li>
<li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72"><a href="http://748airservicesltd.com/?page_id=66">Safety</a></li>
<li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="http://748airservicesltd.com/?page_id=70">Destinations</a></li>
<li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73"><a href="http://748airservicesltd.com/?page_id=61">Contacts</a></li>
<li id="menu-item-321" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-321"><a href="http://748airservicesltd.com/?page_id=68">Careers</a></li>
<li id="menu-item-323" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-323"><a href="http://748airservicesltd.com/?page_id=59">Gallery</a></li>
</ul>        



        </div>